.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  overflow: hidden;

  .dashboard-header {
    flex-shrink: 0;
  }

  .dashboard-content {
    flex-grow: 1;
    height: 0;
    width: 100%;
    overflow: hidden;
    justify-content: start;
    align-items: start;
  }
}